/* Général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

hr {
  color: #000000;
  border: none;
  height: 1px;
  background-color: #000;
  box-shadow: none;
}

/* Interface */
.interface {
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  z-index: 1;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 2;
  background-color: #f5f5f5;
}

.slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 20);
  height: 100px;
}

.slide {
  width: 250px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

nav {
  position: fixed;
  left: 0;
  margin-top: 70px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 18px;
}

/* Contenu */
.content {
  margin-left: 2%;
  margin-right: 80px;
}

.head_title {
  background: -webkit-radial-gradient(circle, rgb(255, 152, 56), rgb(255, 98, 0));
  background: radial-gradient(circle, rgb(255, 152, 56), rgb(255, 98, 0));
}


.big_title {
  font-size: 150px;
  text-align: left;
  margin-top: 0;
  margin-left: 2%;
  margin-bottom: 0;
  color: #f0f0f0;
}

p {
  font-size: 20px;
  margin-left: 2%;
  max-width: 80%;
  display: flex;
  text-align: justify;
}

.only_text {
  padding-bottom: 40px;
  padding-top: 20px;
}

/* Galerie */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item {
  width: 25vw;
  padding-bottom: 25%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.gallery-item a {
  margin: 0;
  padding: 0;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  transition: filter 0.3s ease;
}

.gallery-item:hover img {
  filter: grayscale(100%);
}

.gallery-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-item:hover .gallery-item-overlay {
  opacity: 1;
}

.gallery-item-overlay p {
  color: white;
  font-size: 1.5em;
  margin: 0;
}


/* Projets */
.project_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.proj {
  width: 50%;
  height: auto;
}

.descriproj {
  width: 50%;
  padding: 2% 3% 0 2%; 
  margin: 0;
}

/* Footer */

.footer {
  background: rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer_text {
  color: #f0f0f0;
  text-align: center;
  padding: 5px;
}
